body {
	background-color: #FFF;
	color: #282624;
}

header {
  padding: 1rem 0;
	background-color: #282624;
	color: #FFF;
}

main {
	margin-top: 3.25rem;
	margin-bottom: 3.25rem;
}

section {
  margin-bottom: 5rem;
}

ul, ol {
	list-style: none;
	padding-left: 0;
  margin-bottom: 2em;
}

li {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #282624;
}

svg {
  margin-bottom: 5rem;
  max-width: 100%;
  height: 75px;
  width: auto;
}

svg path {
  fill: #282624;
  stroke: #282624;
}

.logos-column svg {
  margin-right: 3rem;
  height: 125px;
}

.logos-superscript svg {
  display: block;
  height: 50px;
}

.logos-fraction svg {
  display: block;
  height: 100px;
  margin-right: 0;
}

/* Dark mode */
.dark-mode body {
	background-color: #002145;
	color: #FFF;
}

.dark-mode header {
	background-color: #FFF;
	color: #002145;
}

.dark-mode a {
  text-decoration: none;
  color: #FFF;
}

.dark-mode svg path,
.dark-mode svg path,
.dark-mode svg path {
  fill: #FFF;
  stroke: #FFF;
}
