<!doctype html>
<html class="no-js" lang="">

{% include head.html %}

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

  <header class="site-header">
		<div class="container">
			<h1>
        <a href="https://pkp.sfu.ca" target="_blank" rel="noopener" class="logo">
          {% include logotype.svg %}
          <span class="sr-only">{{ site.title }}</span>
        </a>
      </h1>
		</div>
	</header>

	<main>
    <header class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="main-header__title">{{ site.title }}</p>
            <h2>{{ site.tagline }}</h2>
            <p>{{ site.description }}</p>
            <p>
              <a class="button button--primary" href="{{ site.baseurl }}{% link files/all-pkp-logos.zip %}">Download all logos</a>
            </p>
          </div>
        </div>
      </div>
    </header>

    <section class="container">
      <h2 class="sr-only">All logos by usage</h2>

      <p>
        <button href="#" id="darkLightToggler" title="Toggle between dark mode and light mode">Toggle colours</button>
      </p>

      <section>
        <h3>The Public Knowledge Project</h3>
        <div class="row">
          <div class="col-sm-8">
            <h4>Main wordmark</h4>
            <figure class="logo-sample">
              {% include horizontal-pkp.svg %}
              <figcaption>
                <p>Should be the first choice when representing the PKP brand.</p>
                <p>Use in page headers, page footers.</p>
                <p>Download in <a href="">SVG</a>, <a href="{{ site.baseurl }}{% link img/horizontal-pkp-black.png %}">PNG (black)</a> or <a href="{{ site.baseurl }}{% link img/horizontal-pkp-white.png %}">PNG (white)</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <h4>Secondary wordmark</h4>
            <figure class="logo-sample">
              {% include vertical-pkp.svg %}
              <figcaption>
                <p>Use in page footers only.</p>
                <p>Download in <a href="">SVG</a>, <a href="{{ site.baseurl }}{% link img/vertical-pkp-black.png %}">PNG (black)</a> or <a href="{{ site.baseurl }}{% link img/vertical-pkp-white.png %}">PNG (white)</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

      <hr/>

      <section>
        <h3>Software</h3>

        <h4>Open Journal Systems (OJS)</h4>
        <div class="row">
          <div class="col-sm-4">
            <figure class="logo-sample">
              {% include vertical-ojs.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="{{ site.baseurl }}{% link img/svg/vertical-ojs.svg %}">SVG (black)</a>, <a href="{{ site.baseurl }}{% link img/svg/vertical-ojs-white.svg %}">SVG (white)</a>, <a href="{{ site.baseurl }}{% link img/vertical-ojs-black.png %}">PNG (black)</a> or <a href="{{ site.baseurl }}{% link img/vertical-ojs-white.png %}">PNG (white)</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="logo-sample">
              {% include slash-ojs.svg %}
              <figcaption>
                <p>Use in page footers of OJS installation.</p>
                <p>Always aligned on the <strong>right</strong>.</p>
                <p>Download in <a href="{{ site.baseurl }}{% link img/svg/slash-ojs.svg %}">SVG (black)</a>, <a href="{{ site.baseurl }}{% link img/svg/slash-ojs-white.svg %}">SVG (white)</a>, <a href="{{ site.baseurl }}{% link img/slash-ojs-black.png %}">PNG (black)</a> or <a href="{{ site.baseurl }}{% link img/slash-ojs-white.png %}">PNG (white)</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Open Monograph Press (OMP)</h4>
        <div class="row">
          <div class="col-sm-4">
            <figure class="logo-sample">
              {% include vertical-omp.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="">SVG</a>, <a href="{{ site.baseurl }}{% link img/vertical-omp-black.png %}">PNG (black)</a> or <a href="{{ site.baseurl }}{% link img/vertical-omp-white.png %}">PNG (white)</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="logo-sample">
              {% include slash-omp.svg %}
              <figcaption>
                <p>Use in page footers of OMP installations.</p>
                <p>Always aligned on the <strong>right</strong>.</p>
                <p>Download in <a href="">SVG</a>, <a href="{{ site.baseurl }}{% link img/slash-omp-black.png %}">PNG (black)</a> or <a href="{{ site.baseurl }}{% link img/slash-omp-white.png %}">PNG (white)</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Open Preprint Systems (OPS)</h4>
        <div class="row">
          <div class="col-sm-4">
            <figure class="logo-sample">
              {% include vertical-ops.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="logo-sample">
              {% include slash-ops.svg %}
              <figcaption>
                <p>Use in page footers of OPS installations.</p>
                <p>Always aligned on the <strong>right</strong>.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

      <hr/>

      <section>
        <h3>Services</h3>

        <div class="row">
          <div class="col-sm-6">
            <h4>Docs</h4>
            <figure class="logo-sample">
              {% include super-docs.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <h4>School</h4>
            <figure class="logo-sample">
              {% include super-school.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <h4>Community Forum</h4>
            <figure class="logo-sample">
              {% include super-community-forum.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <h4>Publishing Services</h4>
            <figure class="logo-sample">
              {% include super-publishing-services.svg %}
              <figcaption>
                <p>Use in page headers, footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

    </section>
  </main>


	<script>
  // Dark-light mode toggler
	;(function (window, document, undefined) {

		'use strict';

		if (!('localStorage' in window)) return;

		var darkMode = document.querySelector('#darkLightToggler');
		if (!darkMode) return;

		darkMode.addEventListener('click', function (event) {
			event.preventDefault();
			document.documentElement.classList.toggle('dark-mode');
			if ( document.documentElement.classList.contains('dark-mode') ) {
				localStorage.setItem('darkMode', true);
				return;
			}
			localStorage.removeItem('darkMode');
		}, false);

	})(window, document);

  // Logo resizer
  var r     = document.getElementById('resizer'),
      size  = document.getElementById('size'),
      elems = document.querySelectorAll('.logo svg');

  r.addEventListener("input", function() {
    elems.forEach(elems => {
      elems.style.height = r.value + 'px';
      size.innerHTML = r.value;
    });
  }, false);

  </script>

  {% include footer.html %}

</body>

</html>
