<!doctype html>
<html class="no-js" lang="">

{% include head.html %}

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<header>
		<div class="container">
      <h1 class="sr-only">PKP Logos</h1>
      {% include horizontal-pkp.svg %}
		</div>
	</header>

	<main>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <h2>Learn how best to use PKP’s logotypes on your platform.</h2>
            <p><button href="#" id="darkLightToggler" title="Toggle between dark mode and light mode">Toggle colours</button></p>
            <p>
              Smaller <input id="resizer" type="range" min="40" max="200" value="" /> Larger<br/>
              <small>Current height: <span id="size">200px</span></small>
            </p>
            <p><a href="#">Contact us</a></p>
          </div>
        </div>
      </div>
    </header>

    <section class="container logos">
      <h2 class="sr-only">All logos by type</h2>

      <section class="logos-main">
        <div class="row">
          <div class="col-1">
            <h3>Main logotype</h3>
            <ul>
              <li>Should be the first choice when representing the PKP brand</li>
              <li>Horizontal</li>
              <li>Use in page headers , page footers</li>
            </ul>
          </div>
          <div class="col-2">
            <figure class="logo">{% include horizontal-pkp.svg %}</figure>
          </div>
        </div>
      </section>

      <hr/>

      <section class="logos-column">
        <div class="row">
          <div class="col-1">
            <h3>Column</h2>
            <ul>
              <li>Vertical</li>
              <li>Use in page footers</li>
            </ul>
          </div>
          <div class="col-2">
            <figure class="logo">{% include vertical-pkp.svg %}</figure>

            <figure class="logo">{% include vertical-ojs.svg %}</figure>

            <figure class="logo">{% include vertical-omp.svg %}</figure>

            <figure class="logo">{% include vertical-ops.svg %}</figure>
          </div>
        </div>
      </section>

      <hr/>

      <section class="logos-superscript">
        <div class="row">
          <div class="col-1">
            <h3>Superscript</h3>
            <ul>
              <li>Horizontal</li>
              <li>Use in page headers , page footers</li>
              <li>The superscript is used for “satellite” services, such as Docs, School, Publishing Services, Community Forum</li>
            </ul>
          </div>
          <div class="col-2">
            <figure class="logo">{% include super-community-forum.svg %}</figure>

            <figure class="logo">{% include super-docs.svg %}</figure>

            <figure class="logo">{% include super-publishing-services.svg %}</figure>

            <figure class="logo">{% include super-school.svg %}</figure>
          </div>
        </div>
      </section>

      <hr/>

      <section class="logos-fraction">
        <div class="row">
          <div class="col-1">
            <h3>Fraction</h3>
            <ul>
              <li>Vertical</li>
              <li>Use in footers, always on bottom right</li>
              <li>In-software branding only</li>
            </ul>
          </div>
          <div class="col-2" style="text-align: right;">
            <figure class="logo">{% include slash-ojs.svg %}</figure>

            <figure class="logo">{% include slash-omp.svg %}</figure>

            <figure class="logo">{% include slash-ops.svg %}</figure>
          </div>
        </div>
      </section>
    </section>
  </main>


	<script>
  // Dark-light mode toggler
	;(function (window, document, undefined) {

		'use strict';

		if (!('localStorage' in window)) return;

		var darkMode = document.querySelector('#darkLightToggler');
		if (!darkMode) return;

		darkMode.addEventListener('click', function (event) {
			event.preventDefault();
			document.documentElement.classList.toggle('dark-mode');
			if ( document.documentElement.classList.contains('dark-mode') ) {
				localStorage.setItem('darkMode', true);
				return;
			}
			localStorage.removeItem('darkMode');
		}, false);

	})(window, document);

  // Logo resizer
  var r     = document.getElementById('resizer'),
      size  = document.getElementById('size'),
      elems = document.querySelectorAll('main svg');

  r.addEventListener("input", function() {
    elems.forEach(elems => {
      elems.style.height = r.value + 'px';
      size.innerHTML = r.value + 'px';
    });
  }, false);

  </script>

  {% include footer.html %}

</body>

</html>
