<!doctype html>
<html class="no-js" lang="">

{% include head.html %}

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<header>
		<div class="container">
      <h1 class="sr-only">PKP Logos</h1>
      {% include horizontal-pkp.svg %}
		</div>
	</header>

	<main>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <h2>Learn how best to use PKP’s logotypes on your platform.</h2>
            <p><button href="#" id="darkLightToggler" title="Toggle between dark mode and light mode">Toggle colours</button></p>
            <p>
              Smaller <input id="resizer" type="range" min="40" max="200" value="" /> Larger<br/>
              <small>Current height: <span id="size">200</span>px</small>
            </p>
            <p><a href="{{ site.baseurl }}{% link files/all-pkp-logos.zip %}">Download <strong>all</strong> logos</a></p>
          </div>
        </div>
      </div>
    </header>

    <section class="container logos">
      <h2 class="sr-only">All logos by usage</h2>

      <section>
        <h3>The Public Knowledge Project</h3>

        <h4>Main wordmark</h4>
        <div class="row">
          <div class="col-3">
            <figure class="logo">
              {% include horizontal-pkp.svg %}
              <figcaption>
                <p>Should be the first choice when representing the PKP brand.</p>
                <p>Use in page headers , page footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Secondary wordmark</h4>
        <div class="row">
          <div class="col-1">
            <figure class="logo">
              {% include vertical-pkp.svg %}
              <figcaption>
                <p>Use in page footers only.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

      <hr/>

      <section>
        <h3>Software</h3>

        <h4>Open Journal Systems (OJS)</h4>
        <div class="row">
          <div class="col-1">
            <figure class="logo">
              {% include vertical-ojs.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-1">
            <figure class="logo">
              {% include slash-ojs.svg %}
              <figcaption>
                <p>Use in page footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Open Monograph Press (OMP)</h4>
        <div class="row">
          <div class="col-1">
            <figure class="logo">
              {% include vertical-omp.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-1">
            <figure class="logo">
              {% include slash-omp.svg %}
              <figcaption>
                <p>Use in page footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Open Preprint Systems (OPS)</h4>
        <div class="row">
          <div class="col-1">
            <figure class="logo">
              {% include vertical-ops.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-1">
            <figure class="logo">
              {% include slash-ops.svg %}
              <figcaption>
                <p>Use in page footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

      <hr/>

      <section>
        <h3>Services</h3>

        <h4>Docs</h4>
        <div class="row">
          <div class="col-2">
            <figure class="logo">
              {% include super-docs.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Community Forum</h4>
        <div class="row">
          <div class="col-2">
            <figure class="logo">
              {% include super-community-forum.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>School</h4>
        <div class="row">
          <div class="col-2">
            <figure class="logo">
              {% include super-school.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>

        <h4>Publishing Services</h4>
        <div class="row">
          <div class="col-2">
            <figure class="logo">
              {% include super-publishing-services.svg %}
              <figcaption>
                <p>Use in page headers , footers.</p>
                <p>Download in <a href="">SVG</a> or <a href="">PNG</a></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

    </section>
  </main>


	<script>
  // Dark-light mode toggler
	;(function (window, document, undefined) {

		'use strict';

		if (!('localStorage' in window)) return;

		var darkMode = document.querySelector('#darkLightToggler');
		if (!darkMode) return;

		darkMode.addEventListener('click', function (event) {
			event.preventDefault();
			document.documentElement.classList.toggle('dark-mode');
			if ( document.documentElement.classList.contains('dark-mode') ) {
				localStorage.setItem('darkMode', true);
				return;
			}
			localStorage.removeItem('darkMode');
		}, false);

	})(window, document);

  // Logo resizer
  var r     = document.getElementById('resizer'),
      size  = document.getElementById('size'),
      elems = document.querySelectorAll('main svg');

  r.addEventListener("input", function() {
    elems.forEach(elems => {
      elems.style.height = r.value + 'px';
      size.innerHTML = r.value;
    });
  }, false);

  </script>

  {% include footer.html %}

</body>

</html>
